:root {
    --titulo: #9f5219;
    --tela inícial: #6a1da7;
    --cardápio: #1d8585;
    --itens: #b7f1e6;
    --preço: #6a1da7
    --valores: #e9d4f0;
    
}

body {
    background-color: #6a1da7;
    
}

.titulo {
    
position: absolute;
width: 795px;
height: 139px;
left: 254px;
top: 14px;

background-color: rgba(159, 82, 25, 0.82);
mix-blend-mode: color;
border-radius: 108.5px;

}